/* Layout */

html {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

body > main {
    margin: 0 auto;
    max-width: 50rem;
}

/* Universal */

body {
    color: #222222;
}

h1, h2, h3 {
    color: #444444;
}

a {
    color: #3976a8;
    text-decoration: inherit;
}

a.section {
    color: inherit;
}

a.section:hover {
    color: #3976a8;
}

/* Page header */

#page-head {
    color: #dc8a6f;
    outline-style: dashed;
    padding: 0 1rem;
}

#page-head a {
    color: inherit;
    font-size: 120%;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 3;
}

/* Main */

main section {
    margin: 7% 1rem;
}

/* Events */

.event-list li a {
    display: inline-block;
    width: 100%;
}

.event-info {
    display: flex;
    flex-wrap: wrap;
}

.event-info .label {
    flex: 2 0 9em;
    line-height: 1.7;
}

.event-info .badge {
    flex: 1 0 6em;
}

.event-info .badge img {
    height: 1.5em;
}
