/* Layout */

html {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

body > main > * {
    margin: 0 auto;
    max-width: 50rem;
}

/* Universal */

body {
    color: #222222;
}

h1, h2, h3 {
    color: #444444;
}

a {
    color: #3976a8;
    text-decoration: inherit;
}

a.section {
    color: inherit;
}

/* Page header */

#page-head {
    color: #dc8a6f;
    margin-bottom: 2rem;
    outline-style: dashed;
    padding: 0 1rem;
}

#page-head a {
    color: inherit;
    font-size: 120%;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 3;
}

/* Main */

main section {
    padding: 0.2rem 1rem;
}

/* Events */

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list .event-info {
    flex: 1 0 45%;
    line-height: 1.7;
}

.event-list .event-info a:hover {
    color: #3976a8;
}

.event-list .badge {
    flex: 1 0 25%;
}

.event-list .badge img {
    height: 1.4em;
}
