<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:series, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:series, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:series, :edit, :id => @series.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :series, url(:series, :update, :id => @series.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'series/form', :locals => {f: f} %>
  <% end %>
</div>
