<section>
    <h1>About</h1>
    <p>"get Volunteers" allows to show every visitor of your website if you
        need volunteers for your event.</p>
</section>
<section>
    <h2>Open Source</h2>
    <p>All source code is available on
        <a href="https://github.com/RmMsr/get-volunteers">GitHub</a>.</p>
</section>
<section>
    <h2>Credits</h2>
    <p>Thanks to <a href="http://shields.io/">Shields.io</a> for their free
    badge generating service.</p>
</section>
