<!DOCTYPE html>
<html>
<head>
  <title>get Volunteers</title>
  <%= stylesheet_link_tag 'normalize' %>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>
<header id="page-head"><a href="/">get Volunteers</a></header>
<main>
  <%= yield.html_safe %>
</main>
</body>
</html>
