<!DOCTYPE html>
<html>
<head>
  <title>get volunteers</title>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <section id="main">
    <h1>Get volunteers</h1>
    <%= yield.html_safe %>
  </section>
</body>
</html>
